*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
.card_container{
    display: grid;
    /* grid-template-rows: repeat(2,1fr); */
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(400px , 410px));
    justify-content: center;
    gap: 20px;
    /* padding: 30px 300px 30px 300px; */
}
.card{
    border: 1px solid rgb(85, 82, 82);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}
.card_imagdiv{
    position: relative;
    overflow: hidden;
    height: 100px;
}
.imgdiv{
    position: absolute;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    transition: all;
    transition-duration: 250ms;
    transition-timing-function: linear;
}
.card_discrptndiv{
    display: flex;
    flex-direction: column;
}
.card_discrptndiv h2{
    margin: 15px 0px 5px 8px;
    font-size: 17px;
}
.card_discrptndiv p{
    margin: 15px 0px 5px 8px;
    font-size: 12px;
}
.card_logodiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 8px 5px 8px;
}
.leftdiv{
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
}
.logoimag_parent img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgb(105, 101, 101);
    background-color: rgb(209, 206, 206);
}
.logo_text{
    display: flex;
    flex-direction: column;
}
.logo_text p{
    font-size: 12px;
}
.rightdiv p{
    font-size: 14px;
    border: 1px solid black;
    padding: 2px;
    border-radius: 4px;
}
.main_container{
    background-color: pink;
}
.main_header{
    padding: 10px 300px 5px 300px;
    justify-self: center;
}
.main_discrptn {
    justify-self: center;
    padding: 5px 300px 10px 300px;
}
.both{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
}
.card:hover .card_imagdiv img{
    transform: scale(1.1);
}
#anchor{
    text-decoration: none;
    color: black;
}
#anchor:hover #heading{
    color: blue;
}
/* @media (max-width:200px){
    .card_container{
        display: grid;
        grid-template-rows: repeat(8,1fr);
        grid-template-columns: repeat(1,1fr);
        padding: 40px 0px 40px 0px;
    }
    .main_header{
        padding: 40px 0px 10px 0px;
    }
    .main_discrptn {
        padding: 10px 0px 10px 0px;
    }
    
}
@media (min-width:200px) and (max-width:370px){
    .card_container{
        display: grid;
        grid-template-rows: repeat(8,1fr);
        grid-template-columns: repeat(1,1fr);
        padding: 40px 80px 40px 80px;
    }
    .main_header{
        padding: 40px 80px 10px 80px;
    }
    .main_discrptn {
        padding: 10px 80px 10px 80px;
    }
    
}
@media (min-width:370px) and (max-width:530px){
    .card_container{
        display: grid;
        grid-template-rows: repeat(8,1fr);
        grid-template-columns: repeat(1,1fr);
        padding: 40px 80px 40px 80px;
    }
    .main_header{
        padding: 40px 80px 10px 80px;
    }
    .main_discrptn {
        padding: 10px 80px 10px 80px;
    }
    
}
@media (min-width:530px) and (max-width:640px){
    .card_container{
        display: grid;
        grid-template-rows: repeat(8,1fr);
        grid-template-columns: repeat(1,1fr);
        padding: 40px 220px 40px 220px;
    }
    .main_header{
        padding: 10px 200px 5px 200px;
    }
    .main_discrptn {
        padding: 5px 200px 5px 200px;
    }
    
}
@media (min-width:640px) and (max-width:820px){
    .card_container{
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(2,1fr);
        padding: 40px 220px 40px 220px;
    }
    .main_header{
        padding: 10px 200px 5px 200px;
    }
    .main_discrptn {
        padding: 5px 200px 5px 200px;
    }
    
}
@media (min-width:820px) and (max-width:1024px){
    .card_container{
        display: grid;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(3,1fr);
        padding: 40px 220px 40px 220px;
    }
    .main_header{
        padding: 10px 200px 5px 200px;
    }
    .main_discrptn {
        padding: 5px 200px 5px 200px;
    }
    
} */
#logo_sttext{
    color: rgb(28, 28, 163);
    font-weight: bold;
}

